<div class="container">
  <form [formGroup]="form">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          formControlName="name"
          class="input"
          type="text"
          placeholder="Text input"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Country</label>
      <div class="control">
        <div class="select">
          <select formControlName="country">
            <option>Select a country</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">City</label>
      <div class="control">
        <div class="select">
          <select formControlName="city">
            <option>Select a city</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea
          formControlName="message"
          class="textarea"
          placeholder="Textarea"
        ></textarea>
      </div>
    </div>
  </form>
</div>
